:root{
    --success: #4caf50;
    --danger: #f44336;
    --info: #2196f3;
    --success-bg: rgba(76, 175, 80, 0.1);
    --danger-bg: rgba(244, 67, 54, 0.1);
    --info-bg: rgba(150, 187, 243, 0.1);
}

.toast-container{
    position: fixed;
    display: flex;
    flex-direction: column;
    gap: 12px;
}


.toast{
    width: 350px;
    border-radius: 6px;
    padding: 20px;
    position: relative;
}

.toast[data-types='info']{
    border: 2px solid var(--info);
    background-color: var(--info-bg);
}

.toast[data-types='danger']{
    border: 2px solid var(--danger);
    background-color: var(--danger-bg);
}

.toast[data-types='success']{
    border: 2px solid var(--success);
    background-color: var(--success-bg);
}

.toast-container[data-position='top-right']{
    top: 10px;
    right: 10px;
}

.toast-container[data-position='top-left']{
    top: 10px;
    left: 10px;
}


.toast-container[data-position='bottom-right']{
    bottom: 10px;
    right: 10px;
}


.toast-container[data-position='bottom-left']{
    bottom: 10px;
    left: 10px;
}


.toast-close{
    position: absolute;
    right: 5px;
    top: 5px;
    background-color: transparent;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 1.6rem;
    cursor: pointer;
}


.toast-content{
    display: flex;
    align-items: flex-start;
    gap: 12px;
    width: 95%;
}

.toast-info{
    display: flex;
    align-items: flex-start;
    gap: 12px;
    width: 100%;
}

.toast-cta{
    max-height: 100px;
    max-width: 100px;
}

.toast-title-desc{
    display: flex;
    flex-direction: column;
    gap: 8px;
    text-align: left;
}

.toast-progress{
    width: 100%;
    height: 4px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: var(--info);
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
}