:root{
    --success: #4caf50;
    --danger: #f44336;
    --info: #2196f3;
    --success-bg: rgba(76, 175, 80, 0.1);
    --danger-bg: rgba(244, 67, 54, 0.1);
    --info-bg: rgba(150, 187, 243, 0.1);
}


.toast{
    width: 350px;
    border-radius: 6px;
    border: 2px solid var(--info);
    background-color: var(--info-bg);
    padding: 20px;
    position: relative;
}

.toast-close{
    position: absolute;
    right: 5px;
    top: 5px;
    background-color: transparent;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 1.6rem;
    cursor: pointer;
}